<footer>
  <p>
    Content from <a href="http://twitter.com/">Twitter</a> and <a href="http://nypl.org/">The New York Public Library</a>.
    Source available on <a href="https://github.com/lolibrarian/nypl-tweetwall">GitHub</a>.
    Icons from <a href="http://glyphicons.com/">GLYPHICONS</a>.
  </p>
</footer>
