<ul class="nav nav-pills">
  <li><%= link_to "All", root_path %></li>
  <li><%= link_to "Books & Media", books_path %></li>
  <li><%= link_to "Images", images_path %></li>
  <li><%= link_to "Blog Posts", blogs_path %></li>
</ul>
