<li>
  <div class="content-item thumbnail">
    <%= link_to(content_item.url) do %>
      <%= image_tag(content_item.thumbnail_url,
                    :class => "content-item-image",
                    :alt  => content_item.title) %>
    <% end %>

    <h3><%= link_to(content_item.title, content_item.url) %></h3>
    <ul>
      <% content_item.tweets.each do |tweet| %>
        <%= render :partial => "tweet", :locals => {:tweet => tweet} %>
      <% end %>
    </ul>
  </div>
</li>
