<div class='content-item thumbnail'>
  <a data-ng-show='contentItem.thumbnail' href='{{ contentItem.url }}'>
    <img data-ng-src='{{ contentItem.thumbnail.url }}' style='{{ contentItem.thumbnail.style }}' alt='{{ contentItem.title }}' />
  </a>

  <h3>
    <span class='icon-large icon-{{ contentItem.glyphicon }}') />
    <a href='{{ contentItem.url }}'>{{ contentItem.title }}</a>
  </h3>

  <div class='tweets'>
    <ul>
      <li data-masonry-brick data-ng-repeat='tweet in contentItem.tweets track by tweet.id' data-ng-include='"/partials/tweet.html"'>
      </li>
    </ul>
  </div>
</div>
